# Test Ebola

Importing libraries

In [6]:
# Import panda
import os, sys
import pandas as pd
import numpy as np
import csv
pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.

For each  country, we have to get inside its directory, and get the data from each of the reports

In [7]:
filenames_guinea = pd.Series(os.listdir(os.getcwd()))
filenames_guinea

0    .ipynb_checkpoints
1    Ebola test 2.ipynb
2           guinea_data
3          liberia_data
4               LICENSE
5               sl_data
6      Test Ebola.ipynb
dtype: object

- We move to "guinea_data" repositery  
- We get all the .csv files' title  and stock them into 'filenames_guinea'  
- We use a 'for' loop to get through all the files

In [8]:
os.chdir("guinea_data" )
filenames_guinea = pd.Series(os.listdir(os.getcwd()))

#Initialization of the DataFrame 'guinea_data' for all 12 months of 2014 with 'Daily Average of Death' and 'Daily Average of New Cases' as Series
month_index = range(1,13)
zero_data = np.zeros(shape=(12,3))
guinea_data = pd.DataFrame(zero_data, columns=['NC','Death','Nb_report'])
guinea_data.index = month_index

#For each report, we add the number of deaths and new cases to the 'guinea_data_frame'
for title in filenames_guinea:
    
    #Read and replace NaN values in the reports by '0'
    mb = pd.read_csv(title).fillna(0)
    
    #Selection of the columns in the report
    mb = mb[['Date','Description','Totals']]

    #Selection of the rows in the report
    mb = mb[3:14] 
    mb = mb.drop(list(range(4,13)))
    
    #adding data from the reports to 'guinea_data'
    guinea_data.NC[float(title[5:7])] = guinea_data.NC[float(title[5:7])] + float(mb.iloc[0,2])
    guinea_data.Death[float(title[5:7])] = guinea_data.Death[float(title[5:7])] + float(mb.iloc[1,2]) 
    guinea_data.Nb_report[float(title[5:7])] += 1

#Average the totals by the number of reports    
for month in month_index:
    if guinea_data.Nb_report[month] != 0:
        guinea_data.NC[month] = guinea_data.NC[month] /guinea_data.Nb_report[month]
        guinea_data.Death[month] = guinea_data.Death[month] /guinea_data.Nb_report[month]



#Exit the repository
os.chdir("../" )

#Display
guinea_data

        NC     Death  Nb_report
1    0.000    0.0000        0.0
2    0.000    0.0000        0.0
3    0.000    0.0000        0.0
4    0.000    0.0000        0.0
5    0.000    0.0000        0.0
6    0.000    0.0000        0.0
7    0.000    0.0000        0.0
8   25.800  497.2000        5.0
9   19.625  603.1875       16.0
10  34.000  739.0000        1.0
11   0.000    0.0000        0.0
12   0.000    0.0000        0.0

Now we do the same for the liberia folder

In [9]:
os.chdir("liberia_data" )

#Initialization of the DataFrame 'liberia_data' for all 12 months of 2014 with 'Daily Average of Death' and 'Daily Average of New Cases' as Series
filenames_liberia = pd.Series(os.listdir(os.getcwd()))

#Initialization of the DataFrame 'liberia_data' for all 12 months of 2014 with 'Daily Average of Death' and 'Daily Average of New Cases' as Series
month_index = range(1,13)
zero_data = np.zeros(shape=(12,3))
liberia_data = pd.DataFrame(zero_data, columns=['NC','Death','Nb_report'])
liberia_data.index = month_index

#For each report, we add the number of deaths and new cases to the 'liberia_data_frame'
for title in filenames_liberia:
    
    #Read and replace NaN values in the reports by '0'
    mb = pd.read_csv(title).fillna(0)
    
    #Selection of the columns in the report
    mb = mb[['Date','Variable','National']]
    
    #Selection of the rows in the report
    mb = mb[7:26]
    mb = mb.drop(list(range(8,23)),axis = 0)
    
    #adding data from the reports to 'guinea_data'
    liberia_data.NC[float(title[5:7])] = liberia_data.NC[float(title[5:7])] + mb.iloc[1:4,2].sum()
    liberia_data.Death[float(title[5:7])] = liberia_data.Death[float(title[5:7])] + mb.iloc[0,2].sum()
    liberia_data.Nb_report[float(title[5:7])] += 1

#Average the totals by the number of reports    
for month in month_index:
    if liberia_data.Nb_report[month] != 0:
        liberia_data.NC[month] = liberia_data.NC[month] /liberia_data.Nb_report[month]
        liberia_data.Death[month] = liberia_data.Death[month] /liberia_data.Nb_report[month]



#Exit repository
os.chdir("../" )


#Display
liberia_data

             NC        Death  Nb_report
1      0.000000     0.000000        0.0
2      0.000000     0.000000        0.0
3      0.000000     0.000000        0.0
4      0.000000     0.000000        0.0
5      0.000000     0.000000        0.0
6      5.714286    32.000000        7.0
7      8.545455    94.454545       11.0
8     37.222222   518.111111        9.0
9     63.833333  1417.291667       24.0
10  1046.320000  2238.720000       25.0
11    26.466667  2775.200000       15.0
12  5178.555556  3209.888889        9.0

In [72]:
os.chdir("sl_data" )

#Initialization of the DataFrame 'sl_data' for all 12 months of 2014 with 'Daily Average of Death' and 'Daily Average of New Cases' as Series
filenames_sl = pd.Series(os.listdir(os.getcwd()))

#Creation du DataFrame pour la guinée
month_index = range(1,13)
zero_data = np.zeros(shape=(12,3))
sl_data = pd.DataFrame(zero_data, columns=['NC','Death','Nb_report'])
sl_data.index = month_index

#Pour chaque rapport, on ajoute les valeurs du nombre de mort, etc...
for title in filenames_sl:
    mb = pd.read_csv(title).fillna(0)
    #Section des colonne qui nous intéresse
    mb = mb[['date','variable','National']]
    #selection des lignes qui nous intéresse
    mb = mb[2:12]
    mb = mb.drop([5,6,7,8],axis = 0)
    #convert dtype from 'object' to 'float'
    mb[['National']]=mb[['National']].apply(pd.to_numeric)
    #opération de moyennage
    sl_data.NC[float(title[5:7])] = sl_data.NC[float(title[5:7])] + mb.iloc[0:3,2].sum()
    sl_data.Death[float(title[5:7])] = sl_data.Death[float(title[5:7])] + mb.iloc[4:6,2].sum()
    sl_data.Nb_report[float(title[5:7])] += 1

#On divise par le nombre de rapport pour chaque mois   
for month in month_index:
    if sl_data.Nb_report[month] != 0:
        sl_data.NC[month] = sl_data.NC[month] /sl_data.Nb_report[month]
        sl_data.Death[month] = sl_data.Death[month] /sl_data.Nb_report[month]



#On sort du répertoire de la guinée
os.chdir("../" )

#Display
sl_data[['NC','Death']]

           NC        Death
1    0.000000     0.000000
2    0.000000     0.000000
3    0.000000     0.000000
4    0.000000     0.000000
5    0.000000     0.000000
6    0.000000     0.000000
7    0.000000     0.000000
8   25.150000   325.500000
9   40.689655   477.758621
10  70.928571  1064.964286
11  75.238095  1311.095238
12  41.000000  1481.200000

In [ ]:
ebola_data = pd.merge(sl_data[['month','country']],liberia_data[['month','country']])
ebola_data

In [34]:
guinea_data['Month']=guinea_data.index
guinea_data

        NC     Death  Nb_report  Month
1    0.000    0.0000        0.0      1
2    0.000    0.0000        0.0      2
3    0.000    0.0000        0.0      3
4    0.000    0.0000        0.0      4
5    0.000    0.0000        0.0      5
6    0.000    0.0000        0.0      6
7    0.000    0.0000        0.0      7
8   25.800  497.2000        5.0      8
9   19.625  603.1875       16.0      9
10  34.000  739.0000        1.0     10
11   0.000    0.0000        0.0     11
12   0.000    0.0000        0.0     12

In [76]:
guinea_data=pd.DataFrame(guinea_data.values.T).iloc[:2,:]
guinea_data.index=['NC','Death']
guinea_data.columns=range(1,13)
guinea_data

        1    2    3    4    5    6    7      8         9      10   11   12
NC     0.0  0.0  0.0  0.0  0.0  0.0  0.0   25.8   19.6250   34.0  0.0  0.0
Death  0.0  0.0  0.0  0.0  0.0  0.0  0.0  497.2  603.1875  739.0  0.0  0.0

In [77]:
liberia_data=pd.DataFrame(liberia_data.values.T).iloc[:2,:]
liberia_data.index=['NC','Death']
liberia_data.columns=range(1,13)
liberia_data

,1,2,3,4,5,6,7,8,9,10,11,12
NC,0.0,0.0,0.0,0.0,0.0,5.714286,8.545455,37.222222,63.833333,1046.32,26.466667,5178.555556
Death,0.0,0.0,0.0,0.0,0.0,32.000000,94.454545,518.111111,1417.291667,2238.72,2775.200000,3209.888889

In [78]:
sl_data=pd.DataFrame(sl_data.values.T).iloc[:2,:]
sl_data.index=['NC','Death']
sl_data.columns=range(1,13)
sl_data

,1,2,3,4,5,6,7,8,9,10,11,12
NC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.15,40.689655,70.928571,75.238095,41.0
Death,0.0,0.0,0.0,0.0,0.0,0.0,0.0,325.50,477.758621,1064.964286,1311.095238,1481.2

In [79]:
arrays=[['Guinea','Guinea','Liberia','Liberia','Sl','Sl'],['NC','Death','NC','Death','NC','Death']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [80]:
BEST=pd.DataFrame(pd.concat([guinea_data,liberia_data,sl_data]).values,index=index)

In [82]:
BEST.columns=list(range(1,13))

In [83]:
BEST

                 1    2    3    4    5          6          7           8   \
first   second
Guinea  NC      0.0  0.0  0.0  0.0  0.0   0.000000   0.000000   25.800000
        Death   0.0  0.0  0.0  0.0  0.0   0.000000   0.000000  497.200000
Liberia NC      0.0  0.0  0.0  0.0  0.0   5.714286   8.545455   37.222222
        Death   0.0  0.0  0.0  0.0  0.0  32.000000  94.454545  518.111111
Sl      NC      0.0  0.0  0.0  0.0  0.0   0.000000   0.000000   25.150000
        Death   0.0  0.0  0.0  0.0  0.0   0.000000   0.000000  325.500000

                         9            10           11           12
first   second
Guinea  NC        19.625000    34.000000     0.000000     0.000000
        Death    603.187500   739.000000     0.000000     0.000000
Liberia NC        63.833333  1046.320000    26.466667  5178.555556
        Death   1417.291667  2238.720000  2775.200000  3209.888889
Sl      NC        40.689655    70.928571    75.238095    41.000000
        Death    477.758621  1064.964286  1311.095238  1481.200000

"'"

In [69]:
pd.read_csv(r'C:\Users\Hadrien\Documents\ADA\ADA2017-Tutorials\02 - Intro to Pandas\Data\ebola\liberia_data\2014-11-27.csv').fillna(0)

,Date,Variable,National,Bomi County,Bong County,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Nimba County,River Gee County,RiverCess County,Sinoe County
0,11/27/2014,Specimens collected,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11/27/2014,Specimens pending for testing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11/27/2014,Total specimens tested,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11/27/2014,Newly reported deaths,16.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14.0,0.0,0.0,0.0,0.0
4,11/27/2014,Total death/s in confirmed cases,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,11/27/2014,Total death/s in probable cases,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,11/27/2014,Total death/s in suspected cases,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,11/27/2014,"Total death/s in confirmed, \r\n probable, sus...",3079.0,158.0,89.0,5.0,62.0,69.0,5.0,26.0,383.0,546.0,17.0,1622.0,50.0,8.0,25.0,14.0
8,11/27/2014,Case Fatality Rate (CFR) - \r\n Confirmed & Pr...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,11/27/2014,Newly reported contacts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,11/27/2014,Total contacts listed,169.0,4.0,0.0,0.0,2.0,20.0,0.0,0.0,0.0,44.0,0.0,99.0,0.0,0.0,0.0,0.0
11,11/27/2014,Currently under follow-up,6355.0,142.0,202.0,54.0,73.0,350.0,1.0,72.0,66.0,2143.0,27.0,3107.0,0.0,0.0,31.0,87.0
12,11/27/2014,Contacts seen,5829.0,142.0,202.0,27.0,65.0,350.0,1.0,60.0,66.0,1713.0,27.0,3094.0,0.0,0.0,31.0,51.0
13,11/27/2014,Contacts who completed 21 day \r\n follow-up,180.0,0.0,9.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,157.0,0.0,0.0,0.0,0.0
14,11/27/2014,Contacts lost to follow-up,73.0,0.0,0.0,27.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0
15,11/27/2014,New admissions,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0
16,11/27/2014,Total no. currently in Treatment \r\n Units,134.0,7.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,91.0,6.0,0.0,0.0,0.0
17,11/27/2014,Total discharges,19.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0
18,11/27/2014,Cumulative admission/isolation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,11/27/2014,Newly Reported Cases in HCW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,11/27/2014,Cumulative cases among HCW,345.0,18.0,30.0,0.0,8.0,8.0,0.0,0.0,22.0,69.0,1.0,174.0,12.0,2.0,0.0,1.0
21,11/27/2014,Newly Reported deaths in HCW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,11/27/2014,Cumulative deaths among HCW,174.0,14.0,16.0,0.0,4.0,4.0,0.0,0.0,16.0,38.0,0.0,80.0,2.0,0.0,0.0,0.0
23,11/27/2014,New Case/s (Suspected),25.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,2.0,0.0,18.0,0.0,0.0,0.0,0.0
24,11/27/2014,New Case/s (Probable),9.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0
25,11/27/2014,New case/s (confirmed),12.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
26,11/27/2014,Total suspected cases,2742.0,84.0,173.0,10.0,40.0,45.0,8.0,14.0,170.0,398.0,15.0,1675.0,80.0,6.0,9.0,15.0
27,11/27/2014,Total probable cases,1778.0,69.0,31.0,3.0,66.0,50.0,0.0,17.0,149.0,475.0,2.0,760.0,131.0,5.0,17.0,3.0
28,11/27/2014,Total confirmed cases,2758.0,135.0,105.0,7.0,35.0,39.0,2.0,4.0,325.0,354.0,4.0,1594.0,111.0,7.0,18.0,18.0
29,11/27/2014,Total Number of Confirmed Cases \r\n of Sierra...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,11/27/2014,Total Number of Confirmed Cases \r\n of Guinea...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,11/27/2014,"Cumulative confirmed, probable and suspected c...",7278.0,288.0,309.0,20.0,141.0,134.0,10.0,35.0,644.0,1227.0,21.0,4029.0,322.0,18.0,44.0,36.0